
<div>
    <ul>
    <li><a class="hover-underline-animation" href="#home">HOME</a></li>
    <li><a class="hover-underline-animation"  href="#shop">SHOP</a></li>
    <li><a class="hover-underline-animation" href="#about">ABOUT AS</a></li>
    <li><a class="hover-underline-animation" href="#contact">CONTACT</a></li>
    <li><a class="hover-underline-animation" href="#returnpolicy">RETURN POLICY</a></li>
    <li><a href="http://localhost:4200" style="margin-left: 165px;margin-right:75px;"><img  src="\assets\images\im.png"/></a>
    </li>
    <li class="icons">
    <a href="#search"><i style="color: black  ; margin-top:20px ;" class="fa fa-search fa-lg"></i></a>
    <a href="#login"><i style="color: black;margin-top: 20px;" class="fa fa-user fa-lg"></i></a>
    <a href="#panier"><i style="color: black;margin-top: 20px;" class="fa fa-shopping-cart fa-lg"></i></a>
    <a href="#favorite"><i style="margin-right:19px; color: black;margin-top: 20px;" class="fa fa-heart fa-lg"></i></a>
    </li>
    </ul>
</div>
